<html>
    <head>
        <title>Django  blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django  Blog</a></h1>
        </div>

        <div>
            <p>published: 24.07.2016, 21:14</p>
            <h2><a href="">You mean the world to me</a></h2>
            <p>

              Sometimes the strongest of all relationships starts as small frienships and works its way out. <br>
              Sometimes it's not about how long we have known each other or how often we meet. <br>
              I felt our wavelength matched at the first meet itself.<br>
              I don't know but I can't live without you.<br>
              I feel safe with you! <br>
              Every hour, Every minute I miss you! <br>
            <h2>  Be mine forever please? <h2>

            </p>
          </div>

          {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}


    </body>
</html>
